body {
  font-family: "Ephesis", cursive;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: auto;
}

.header h1 {
  font-size: 35px;
  margin-left: 10vh;
}

.header h2 {
  font-size: 35px;
  margin-left: 60vh;
}

/* Question Box Styles */
.question-box {
  border-radius: 10px;
  padding: 40px 0;
  width: 70vw;
  height: 67vh;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.question-box h3 {
  font-size: 4.5vh;
}

/* Theme Button Styles */
.themeBtn {
  padding: 15px 35px;
  border-radius: 40px;
  font-size: 18px;
  background-color: #fff;
  margin-left: 30vh;
}

/* Options Box Styles */
.option-box {
  text-align: center;
}

/* Result Box Styles */
.result-box {
  border-radius: 50px;
  width: 60vw;
  height: 50vh;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
  color: #060606;
  margin-left: 35vh;
  margin-top: 10vh;
}

.result-box h1 {
  font-style: oblique;
  font-size: 50px;
  margin-left: 0;
}

.result-box h2 {
  font-style: oblique;
  font-size: 30px;
}

/* Options Styles */
.options {
  display: block;
  padding: 14px;
  font-size: 20px;
  border-radius: 50px;
  width: 50vw;
  margin: 20px auto;
  background-color: aqua;
  border: none;
}

/* Restart Button Styles */
.restart {
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 8vh;
  background-color: red;
  border: none;
}

/* Highlight Button Styles */
.highlight-button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px;
  background-color: red;
}